html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.structure-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}



    .structure-table > tbody > tr > td {
        border: 1px solid #808080;
    }

.left-column {
    width: 50px;
}

.right-column {
    width: 50px;
}

.content-table {
    height: 100%;
}


/*.header {
    height: 20px;
    background-color: #eeeeee;
    border-bottom: 1px dashed #eeeeee;
}

.footer {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #eeeeee;
    border-top: 1px dashed #eeeeee;
    bottom: 0;
}*/


#changeUsername {
    margin-top: 10px;
    text-align: center;
}

#discussion {
    height: 500px;
    /*overflow-y: auto;*/
    background-color: rgba(234,237,247,.5);
    margin: 0;
    padding: 0;
}

    #discussion li {
        margin: 0;
        border-bottom: 1px dashed #eeeeee;
    }

.msgTop {
    width: 100%;
    height: 20px;
}

#discussion li .msgTop > label {
    color: #666;
    display: inline-block;
    text-align: center;
    margin: 0;
    margin-left: 15px;
    float: left;
}

#discussion li .msgTop > span {
    color: #333;
    opacity: 0.5;
    float: right;
    margin-right: 15px;
}

#discussion li .encodeMsg {
    display: block;
    margin: 0;
    padding-left: 40px;
}

    #discussion li .encodeMsg p {
        margin: 3px;
    }

#sendmessage {
    float: right;
    display: block;
    margin-top: 10px;
    margin-right: 40px;
}
