@section scripts{
    <script src="~/Scripts/originalJs/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/originalJs/hub.js"></script>
    <script src="~/Scripts/Plugins/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.config.js"></script>
    <script src="~/Scripts/Plugins/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.all.js"></script>

    <script src="~/Scripts/Plugins/jQuery-slimScroll-1.3.8/jquery.slimscroll.js"></script>

    <script src="~/Scripts/CustomJs/custom.js"></script>
}

<div style="width:100%;height:100%;">
    <table class="content-table">
        <tr>
            <td>
                <ul id="discussion"></ul>
            </td>
        </tr>
        <tr>
            <td>
                <script id="editor" type="text/plain" style="width: 720px; height: 100px;">
                </script>

                <input type="hidden" id="sendmessage" value="Send" />
            </td>
        </tr>
    </table>

</div>