<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Tunnel</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
</head>
<body>
    <header class="fixed-top header"></header>


    <div class="container body-content" style="">
        @RenderBody()
    </div>

    <footer class="footer"></footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/Plugins/layer-v2.4/layer/layer.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
